@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900; 1.400.900&família=Roboto:ital,wght@0.100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1.900&display=swap');

:root {
    --cor-primaria:#040D12; 
    --cor-secundaria: #5C8374;
    --cor-terciaria:#CBE4DE;
    

    --font-primaria:"Roboto", sans-serif;
    --font-secundaria:"Playfair Display", serif;

}

*{
    margin:0; 
    padding: 0;
}

.cabecalho{
    background-color: var(--cor-primaria);
    padding: 3% 0 0 13%;
    

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-terciaria);
    color: #12372A;
    text-shadow: black 0.01em 0.01em 0.089em;
    
}

.cabecalho__menu__link{
    text-decoration: none;
    color:var(--cor-secundaria);
    border-radius: 10px;
    border: 1px solid var(--cor-terciaria);
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 400;
     
}

body {
    
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color:var(--cor-terciaria);

}

.principal {
    padding: 6% 11%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 82px;  
}

.secundario {
    width:50%;
    display: flex;
    flex-direction: column;
    text-align: justify;   
}

.terciario {
    text-align: center;
}

.titulo {
    color: var(--cor-secundaria);
    font-size: 3rem;
    font-family: var(--font-primaria);
}

.futuro {
    color: var(--cor-terciaria);
    font-family: var(--font-primaria);
    
}

.titulo0 {
    color: var(--cor-secundaria);
    font-size: 2rem;
    font-family: var(--font-primaria);
}

.titulo1 {
    color:var(--cor-terciaria);
    font-size: 0.5rem;
    font-family: var(--font-secundaria);
    
}

.titulo2 {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    padding: 5% 0;
    
    
}

.navegacao  {
    display: flex;
    justify-content: center;
    border: 3px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    padding: 15px 0;
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 600px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    gap: 16px;
    
}

.redesocial:hover{
    background-color: var(--cor-secundaria);

}

.samyr {
    width: 50%;
    border-radius: 30% 0;
    border: 3px solid var(--cor-terciaria);
    
}

.rodape {
    padding: 13px;
    background-color:var(--cor-secundaria);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
        
    
}

.link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    

}

.minhasredes {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 600px;
}

.logoinsta {
    width: 32px;
    height: 32px;
    

}
.sobre__mim {
    font-size: 2.25rem;
}

    @media (max-width:1200px)  {
    .cabecalho {
        padding: 7%;

    }

    .cabecalho__menu {
        justify-content: center;
    }
    .cabecalho__menu__link {
        border: 0px;
    }
    .principal {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .secundario {
        width: auto;
    }

}

    @media (max-width:642px) {
    .cabecalho__menu {
        gap:20px;
        
    }
    .cabecalho__menu__link {
        border: 0px;
        gap: 10px;
        font-size: 1.3125rem;
    }
    .principal {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .secundario {
        width: auto;
    }
    .samyr {
        width: 280px;
        heigth: 300px;
    }

}
