@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fonte--principal:"Inter";
    --cor--fonte--primaria:#667085 ;
    --cor--fonte--secundaria:#8E2424 ;
    --cor--fonte--terciaria:#FFFFFF ;
}


*{
    margin: 0;
    padding: 0;
}



.globo {
    width: 27px;


}

.optimustech {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 10%;




}

.cabeçalho_optimustech {
    display: flex;
    justify-content: space-between;
    margin: 0 112px 0 112px;
    align-items: center;
    padding:  1.5rem 0;
    font-family: var(--fonte--principal);

}

.cabeçalho_acessos {
    display: flex;
    gap: 0 2rem;
    font-weight: 500;


}

.titulo_site {
    font-size: 1.125rem;
}

.subp {
     padding: 1.75rem 0 ;
     text-decoration: none;
     color: var(--cor--fonte--primaria);


}

.botao {
    display: flex;
    gap: 0.75rem;
}
.botao__cadastrar{
    padding: 10px 18px;
    border-radius: 8px;
    background-color: var(--cor--fonte--secundaria);
    color:var(--cor--fonte--terciaria);
    
}
.botao__entrar {
    padding: 10px 18px;
    border-radius: 8px;
    color: var(--cor--fonte--primaria);

}

.botao_oportunidades {
    padding: 10px 18px;
    border-radius: 8px;
    background-color: var(--cor--fonte--secundaria);
    color:var(--cor--fonte--terciaria);
    
}

.primeiro_bloco_de_informções {
    text-align: center;
    padding: 2rem 0 6rem;
    justify-content: center;
    font-family: var(--fonte--principal);
}

.nos_focamos_nos_detalhes {
    padding: 2.25rem 29% 0 29% ;
    font-size: 0,8rem;
    color: var(--cor--fonte--primaria);
    font-weight: 400;
}

.sobre_nos {
    color:var(--cor--fonte--secundaria);
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.projetos {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin: 0 80px;
    font-family: var(--fonte--principal);
    padding: 0 0 6rem 0;

}

.projetos__concluidos {
    padding: 1% 2% 0 2%;
}

.projetos__concluídos__resultados {
    font-size: 3.75rem;
    color: var(--cor--fonte--secundaria);

}

.subparagrafo {
    color:var(--cor--fonte--primaria);
    padding: 3% 0;


}

.subparagrafo0 {
    margin-top: 5%;
}

.secao {
    text-align: center;


}
.vagas {
    color: var(--cor--fonte--secundaria);
    font-size: 0.875rem;
    padding: 4px 12px;
    background-color: #8E24240D;
    border-radius: 1rem;
    margin: 6rem 46% 16px 46%;

}

.talentos {
    font-size: 2.25rem;
    font-weight: 600;
    font-family: var(--fonte--principal);
}

.equipe {
    font-size: var(--fonte--principal);
    color: var(--cor--fonte--primaria);
    font-size: 1.25rem;
    padding-top: 20px;
}

.imagem__equipe__trabalhando {

    align-items: center;
}

.secao__dois_design {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin:  0.6rem 24rem 0rem 24rem;
    /* padding: 64px 256px 32px 256px ; */

}
.design , .Desenvolvimento__software {
    margin: 1rem 0;
    padding: 1.5rem 1.75rem 1.5rem 0px ;
    font-size: 1.25rem;
}


.secao__dois__designer , .secao__dois__UX , .IOS , .front , .back{

    padding: 1.5rem 1.75rem 1.5rem 1.75rem ; 
    border: solid 1px var(--cor--fonte--primaria);
    border-radius: 1rem;
    margin-bottom: 1rem;
}


.cargo , .Dev_Samyr {
      /* padding: 24px 28px 0px 28px ; */
     font-size: 1.2rem;
}

.salario , .Desenvolvedor_web {
    /* padding: 32px 28px 24px 28px ;   */
    font-size: 1rem;
    color: var(--cor--fonte--primaria);

}


.comentarios__colaboradores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 64px;
    background-color: #C3191908;
    margin: 0 112px 0px 112px;
    gap: 1.57rem;
}

.colaboradores {
    color:var(--cor--fonte--secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0rem;
    margin: 0rem 0 0 0;
}
.comentario {
    font-size: 2.5rem;
    text-align: center;
    
}

.frase_novas_vagas {
    font-size: 1.8rem;
    color: var(--cor--fonte--primaria);
}

.imagem_Dev_samyr_melo {
    width: 280px;
    border-radius: 100%; 
    padding: 20px;
    
}



.bloco_cadastro {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.seu_email {
    font-size: 1.2rem;
}

.bloco_final {
    background-color: #F9FAFB;
    margin: 96px 0 0 0;
}
.bloco_oportunidades {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 64px;
    margin: 0 112px 0px 112px; 
    gap: 1.25rem;
}

.direitos_reservados {
    color: var(--cor--fonte--primaria);
    font: 1.5rem;
    justify-content: center;
    text-align: center;
    padding: 4%;
    background-color: #F9FAFB;
}

.carousel {
    overflow: hidden;
    width: 550px;
    
   
    margin: 1rem 20rem 0 15rem;
    
    
}

.slide {
    float: left;
    width: 300px;
    justify-content: center;
    line-height: 200px;
    transition: transform 1.5s ease-in-out;

}

.active {
    transform: translateX(-100%);
}